betterproto==1.2.5
black==25.1.0
click==8.1.8
grpcio==1.70.0
grpcio-tools==1.70.0
grpclib==0.4.7
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
Jinja2==3.1.5
MarkupSafe==3.0.2
multidict==6.1.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
protobuf==5.29.3
setuptools==75.8.2
stringcase==1.2.0
